*{
    margin: 0px;
    padding:0px;
    
}
* {
    font-family: 'Open Sans', sans-serif;
}
.nav__light {
    background-color: #f4f8fb;
    height:60px;
    width:100%;

}
.nav-item a {
    font-size:15px;
    color: #425089;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif; 
    padding-right:20px;
}
.nav-link {
    color: #2d3e50;
    display: block;
    font-size: 15px;
}
.btn__primary:not(.gradient) {
    background-color: #425089;
    border: 1px solid #425089;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
}
.btn__secondary {
    border-radius: 3px;
    background-color: white;
    border: 1px solid white;
    color: black;
}

a {
    color: #2d3e50;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.nav--logo {
    height: 50px;
    margin-left: 20px;
}
.rounded__full {
    border-radius: 999px !important;
}
.btn{
    border:none;
}
.hero__text .title {
    font-size: 60px;
    color: white;
    font-weight: 800;
}
.color__dark {
    color: #2d3e50!important;
}
.tittle h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    line-height: 1.2;
    
}
.font{
    font-size: 20px;
}
.color__category{
    color: #055FD4;
}

#youtube-2222{
    width:350px;
    height:200px;
}
#youtube-3333{
    width:350px;
    height:200px;
}
#youtube-4444{
    width: 350px;
    height: 200px;
}
#youtube-5555{
    width:260px;
    height: 150px;
}
#youtube-6666{
    width:260px;
    height: 150px;
}
#youtube-7777{
    width:260px;
    height: 150px;
}
#youtube-8888{
    width:260px;
    height: 150px;
}
#youtube-9999{
    width:200px;
    height:110px;
}
#youtube-7725{
    width:200px;
    height:110px;
}
#youtube-1001{
    width:220px;
    height:130px;
}
#youtube-9751{
    width:200px;
    height:110px;
}
#youtube-5674{
    width:200px;
    height:110px; 
}
#youtube-5603{
    width:190px;
    height:110px;
}
#youtube-8330{
    width:190px;
    height:110px;
}
#youtube-8165{
    width:190px;
    height:110px;
}
#youtube-2477{
    width:190px;
    height:110px;
}
#youtube-7000{
    width:190px;
    height:110px;
}
#youtube-7935{
    width:190px;
    height:110px;
}
#youtube-7606{
    width:190px;
    height:110px;
}
#youtube-7606{
    width:190px;
    height:110px;
}
#youtube-8671{
    width:190px;
    height:110px;
}
#youtube-9183{
    width:190px;
    height:110px;
}
#youtube-4383{
    width:190px;
    height:110px;
}
#youtube-9345{
    width:190px;
    height:110px;
}
#youtube-4969{
    width:190px;
    height:110px; 
}
#youtube-8622{
    width:190px;
    height:110px;
}
#youtube-7675{
    width:190px;
    height:110px; 
}
#youtube-3068{
    width:190px;
    height:110px;  
}
#youtube-311{
    width:190px;
    height:110px; 
}
.footer__logo{
    height: 50px;
    margin-left: 20px; 
}
.background-color__dark {
    background-color: #2d3e50!important;
}
.color__white {
    color: white!important;
}
h6 {
    font-size: 1rem;
}
.color__grey_on_dark {
    color: #cbd6e2!important;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.font__12 {
    font-size: 12px;
    margin: 0;
}
.footer__logo {
    height: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
}

@media (max-width: 700px) { 
span{
    display:none;
}
.link-item{
    display:none;
}
}
@media (max-width: 780px){
#youtube-1111{
    width:400px;
    padding-left:10px;
    padding-right: 10px;
    height: 200px;
}
}
@media (min-width: 1200px){
.desktop__hide{
    display:none!important;
}
}





